<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li><br>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @post, local: true do |f| %>
  <%= f.text_area :body, class: "textarea" %><br><br>
  <div class="has-text-right">
    <%= f.submit class: "button is-info" %>
  </div>
<% end %>

  
  

