<section class="section">
  <div class="container">
    <% if member_signed_in? %>
      <%= render 'form' %>
    <% else %>
      <p class="has-text-weight-bold">
        What others are saying... 
        <%= link_to "see who wrote each post!", new_member_session_path %>
      </p><br>
    <% end %>
    <%= render 'feed' %>
  </div>
</section>
